#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: #FFA62B;
    text-decoration: none;
}
#hero-msg h1 {
    text-align: center;
} 
#hero-msg h4 {
    text-align: center;
}
.button-box{
    text-align: center;
}
main section {
    text-align: center;
}

/*
--primary-color: #82C0CC ;
  --secondary-color: #489FB5 ;
  --accent1-color: #FFA62B;
  --accent2-color: #EDE7E3;
  --added-color: #16697A;
  */
#background {
    height: 725px;
    background-color: #82C0CC;
}
body{
    background-color: #82C0CC;
}
header{
    background-color: #FFA62B;
}
nav a:hover{
    background-color: #82C0CC;
    color: #82C0CC;
}
.book, .join{
    background-color: #EDE7E3;
    color: #16697A;
    text-decoration: none;
} 
.book:hover, .join:hover{
    background-color: #FFA62B;
    color: #16697A;
}
.msg{
    background-color: #82C0CC;
}
.msg h2{
    color: #16697A;

}
.msg p{
    color: #16697A;

}
footer{
    background-color: #82C0CC;
    color: #16697A;

}
.home-title{
    color: #16697A;
}
h4{
    color: #16697A;
}
footer a{
    color: #16697A;
    text-decoration: none;
}
footer a:hover{
    color: #FFA62B;
}
.logo{
    width: 80px;
}
.icon{
    width: 80px;
}
#hero-img{
    width: 100%;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}    