.logo{
    height: 125px;
    width: 175px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

.overlay-container {
    position: relative;
    width: 175px;
    height: 125px;
   
  }
  .overlay {
    position: absolute;
    top: 0;
  bottom: 0;
  left: 0;
  right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    border-radius: 15px;
    background-color: #396e94;
  }

.overlay-container:hover .overlay {
    opacity: 1;  
}

.overlay-text{
    color: white;
    text-align: center;
    padding: 35px;
}

body{
    font-family: Monaco;
}
.navbar{
    width: 100%;
}
.navbar a {
    display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  border: solid #eee;
  background-color: #ccc;
}

.links{
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
}

nav a:hover {
    background-color: #a42212;
    color: white;
  }
.grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px; /* Adjust the gap between items as needed */
  }

#about {
    margin-top: 35px;

    margin-left: 25%;
    margin-right: 25%;
    border: 3px solid #396e94;
    border-radius: 10px;
    padding: 10px;
    
}

.fact{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 35px;
    margin-bottom: 35px;
    
}
.title{
    border: 8px solid #396e94;
    border-radius: 10px;
    padding: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    text-align: center;
    background-color: #a42212;
    border-bottom: 4px;
    
}
.title h3{
    color: white;
}
.fact-output{
    border: 8px solid #396e94;
    border-radius: 10px;
    padding: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: #e7c24f;
}

#random-title{
    margin-left: 25%;
    margin-right: 25%;

}
#generate-button{
    margin-top: 15px;
    margin-bottom: 100px;
    background-color: #396e94;
    color: white;
    display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  
}
#generate-button:hover{
    background-color: #2d5d7b;
}
#generate-button:active {
    background-color: #396e94;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
